html,
body {
	display: block;
	width: 1920px;
	height: 1080px;
}

body {
	font-family: Arial, sans-serif;
	background-repeat: no-repeat;
	background-position: left top;
	background-size: cover;
}

h1 {
	text-align: center;
	font-size: 1em;
	color: purple;
	font-weight: bold;
	margin-bottom: 16px;
	margin-top: 1%;
}

#play-list {
	padding-top: 300px;
	padding-left: 180px;
}

#play-list li {
	opacity: .3;
	color: white;
	text-transform: uppercase;
}

#play-list li.active {
	opacity: 1;
}

#text2 {
	padding-top: 120px;
}

.audio-title {
	font-size: 160px;
}

.audio-title span {
	font-size: 80px;
	margin: 0 24px;
}

.audio-subtitle {
	margin-top: 16px;
	font-size: 48px;
}

#click-pointer {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -250px;
	margin-left: -250px;
	transform: rotateX(180deg);
	width: 500px;
	height: 500px;
}

#goback-btn,
#home-btn {
	top: 8px;
	height: 60px;
	width: 140px;
}

#goback-btn {
	left: 1620px;
}

#home-btn {
	left: 1770px;
}

.navigate-btn {
	position: absolute;
	border: 2px solid white;
	border-radius: 8px;
	background-color: transparent;
	display: inline-block;
	margin: 0;
	padding: 0;
	z-index: 1;
	transition: all .2s ease-in-out;
}

.navigate-btn:active {
	background-color: rgba(255, 255, 255, .5);
}

#closeVideo {
	position: absolute;
	top: 16px;
	right: 16px;
	border-radius: 8;
	border: 2px solid purple;
	color: purple;
	display: inline-block;
	padding: 8px;
	z-index: 1;
}

#movie {
	width: 100%;
}