@font-face {
    font-family: 'DidactGothic-Regular';
    src: url('DidactGothic-Regular.ttf') format('truetype');
}

html,
body,
#content,
#movie,
#current-movie {
	display: block;
	width: 1920px;
	height: 1080px;
}

body {
	font-family: 'DidactGothic-Regular', Arial, sans-serif;
	background-color: #6C3BFF;
}

h1 {
	text-align: center;
	font-size: 40px;
	color: white;
	font-weight: bold;
	margin-bottom: 16px;
	margin-top: 40px;
}

li {
	font-size: 40px;
}

#play-list {
	padding-top: 300px;
	padding-left: 180px;
}

#play-list li {
	opacity: .3;
	color: white;
	text-transform: uppercase;
}

#play-list li.active {
	opacity: 1;
}

#text2 {
	padding-top: 120px;
}

.audio-title {
	font-size: 160px;
	font-weight: 600;
}

.audio-title span {
	font-size: 80px;
	margin: 0 24px;
}

.audio-subtitle {
	margin-top: 16px;
	font-size: 48px;
}

#goback-btn,
#home-btn {
	top: 8px;
	height: 60px;
	width: 140px;
}

#goback-btn {
	left: 1620px;
}

#home-btn {
	left: 1770px;
}

.navigate-btn {
	position: absolute;
	/* border: 2px solid white; */
	border-radius: 8px;
	background-color: transparent;
	display: inline-block;
	margin: 0;
	padding: 0;
	z-index: 1;
	transition: all .2s ease-in-out;
}

.video-play::after {
	content: url(../assets/images/play.png);
	position: absolute;
	top: 24px;
	right: 24px;
}

.navigate-btn:active {
	background-color: rgba(255, 255, 255, .5);
}

#closeVideo {
	content: url(../assets/images/fechar.png);
	position: absolute;
	top: 16px;
	right: 16px;
	display: inline-block;
	padding: 24px;
	z-index: 3;
}

#content,
#movie,
#current-movie {
	position: absolute;
	top: 0;
	left: 0;
}

#content {
	background-repeat: no-repeat;
	background-position: left top;
	background-size: cover;
	z-index: 2;
	animation: enterAnimated 1s;
}

#movie,
#current-movie {
	z-index: 1;
}

@keyframes enterAnimated {
	from {
		opacity: 0;
		/* transform: scale(1.1); */
		transform: translateY(-3%);
	}
	to {
		opacity: 1;
		/* transform: scale(1); */
		transform: translateY(0);
	}
}