
html, body {
	display: block;
	width: 1920px;
	height: 1080px;
}

body {
	font-family: Arial, sans-serif;
	background-repeat: no-repeat;
	background-position: left top;
	background-size: cover;
}

h1 {
	text-align: center;
	font-size: 1em;
	color: purple;
	font-weight: bold;
	margin-bottom: 16px;
	margin-top: 1%;
}

.active {
	color: purple;
	font-weight: bold;
}

#goback-btn {
	top: 8px;
    left: 1620px;
    width: 145px;
    height: 80px;
}

#home-btn {
	top: 8px;
    left: 1770px;
    width: 140px;
    height: 80px;
}

.navigate-btn {
	position: absolute;
    border: 1px solid white;
    background-color: transparent;
    display: inline-block;
    margin: 0;
    padding: 0;
    z-index: 1;
}

#closeVideo {
	position: absolute;
	top: 16px;
	right: 16px;
	border: 1px solid purple;
	color: purple;
	display: inline-block;
	padding: 8px;
	z-index: 1;
}

#movie {
	max-width: 100%;
}
